hostname {{ hostname }}

banner motd ^
{{ common_banner }}
^

interface Loopback0
 ip address {{ loopback_ip }}
 
{% for intf in interfaces %}
interface {{ intf.name }}
 description {{ intf.description }}
 ip address {{ intf.ip }}
 no shutdown
 
{% endfor %}
 
router ospf {{ ospf_process }}
{% for network in ospf_networks %}
 network {{ network }}
{% endfor %}
